################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASPNETWebDemo/.vs/ASPNETWebDemo
/ASPNETWebDemo/ASPNETWebDemo/bin/Debug/netcoreapp3.1
/ASPNETWebDemo/ASPNETWebDemo/obj
/ASPNETWebDemo/ASPNETWebDemo/wwwroot/Textures/borderBackground.xcf
/ASPNETWebDemo/ASPNETWebDemo/wwwroot/Textures/bottomBackground.xcf
/ASPNETWebDemo/ASPNETWebDemo/wwwroot/Textures/topBackground.xcf
/ASPNETWebDemo/ASPNETWebDemo/wwwroot/Textures/topFirstBacground.xcf
/ASPNETWebDemo/ASPNETWebDemo/wwwroot/Textures/topSecondBacground.xcf
