################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASPNETWebDemo/.vs/ASPNETWebDemo
/ASPNETWebDemo/ASPNETWebDemo/bin/Debug/netcoreapp3.1
/ASPNETWebDemo/ASPNETWebDemo/obj
/borderBackground.xcf
/bottomBackground.xcf
/topBackground.xcf
/topFirstBacground.xcf
/topSecondBacground.xcf
/topThirdBacground.xcf
/topFourthBacground.xcf
/ruutuTekstuuri.xcf
/ASPNETWebDemo/ASPNETWebDemo/bin/Release/netcoreapp3.1
/ASPNETWebDemo/ASPNETWebDemo/Properties/PublishProfiles
