@model ASPNETWebDemo.Models.Ruutu[,]

@{
    ViewData["Title"] = "KartanMuunnos";
}

<h1>KartanMuunnos</h1>

<p>@ViewBag.Karttatesti</p>
<img src="@ViewBag.KarttaPath">

@*i ja j eri päin koska taulu täytetään vaakatasossa*@

<table border="0" cellspacing="4" cellpadding="0">
    @for (int j = 0; j < 50; j++)
    {
    <tr>
        @for (int i = 0; i < 50; i++)
        {
            @if (Model[i, j].OnkoAvoin)
            {
                <td bgcolor="#FFFFFF">Tei</td>
            }
            else
            {
                @if (Model[i, j].Seinat[2])
                {
                    <td bgcolor="#555555" style="border-bottom:solid 5px #060">Tei</td>
                }
                else
                {
                    <td bgcolor="#555555">Tei</td>
                }
                
            }

        }
    </tr>
    }
</table>


