@model List<ASPNETWebDemo.Models.Asiakas>

@{
    ViewData["Title"] = "UusiSivu";
}

<h1>Uusi sivu</h1>

<p>Testi</p>

<button id="nappi" onclick="variVaihto()">Nappi</button>


<input class="form-control w-25" type="text" />
<button class="btn btn-@ViewBag.NapinVari mt-2">Hae asiakas</button>

<p>&nbsp;</p>

@if (ViewBag.NaytaLista)
{
    <ul>
        @{ 
            for (int i = 0;i<10;i++)
            {
                <li>Asia @i</li>
            }
        }
    
    </ul>
}
  
<table class="table table-striped w-50">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nimi</th>
            <th>Sposti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ASPNETWebDemo.Models.Asiakas asiakas in Model)
        {
        <tr>
            <td>@asiakas.AsiakasID</td>
            <td>@asiakas.asiakkaanNimi</td>
            <td>@asiakas.sahkoPosti</td>
        </tr>
        }
    </tbody>

</table>


<script>
    function variVaihto() {
        document.getElementById("nappi").style.backgroundColor = "red";
    }
</script>

